extends layout

block content
  div(class='container')
    h1= title
    p(class='instructions') #{description}
    div(class='btn-container')
      p(class='btn-text') #{btnText}
    div(class='cal-events-container')
